.dashboard-container {
	display: flex; /* corrige "flexbox" */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #023e4b;
	font-family: "jura", sans-serif;
}
.intro-dashboard {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 20px 0;
	gap: 10px;
}
.dashboard-buttons {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr); // 2 colonnes fixes
	grid-template-rows: repeat(2, 1fr); // 2 lignes fixes (optionnel)
	gap: 1.5rem;

	max-width: 100%;
	height: 200px;
}

.dashboard-buttons button {
	padding: 1rem 2rem;
	font-size: 1.1rem;
	border: none;
	background-color: #61dafb;
	color: white;
	border-radius: 60px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.dashboard-buttons button:hover {
	background-color: #21a1f1;
}
