.dashboard-container {
	display: flex; /* corrige "flexbox" */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #f9fafb;
}

.dashboard-buttons {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr); // 2 colonnes fixes
	grid-template-rows: repeat(2, 1fr); // 2 lignes fixes (optionnel)
	gap: 1.5rem;
	width: 80%;
	height: 300px;
}

.dashboard-buttons button {
	padding: 1rem 2rem;
	font-size: 1.1rem;
	border: none;
	background-color: #61dafb;
	color: white;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.dashboard-buttons button:hover {
	background-color: #21a1f1;
}
