// Reset léger pour avoir une base propre
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "jura", sans-serif;
	background-color: #023e4b;
	color: white;
}

// Corrige le problème avec la navbar fixe
// On laisse une marge en haut égale à sa hauteur
main {
	padding-top: 60px; // correspond à la hauteur .navbar
}
