.manager {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;
	background: #023e4b;
}

.intro-manager {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px 0;
	gap: 10px;
	font-family: "jura", sans-serif;
}
.action-manager {
	margin: 30px 0;
	display: flex;
	justify-content: center;

	gap: 10px;

	display: grid;
	grid-template-columns: repeat(2, 1fr); // 2 colonnes fixes
	grid-template-rows: repeat(2, 1fr); // 2 lignes fixes (optionnel)

	width: 80%;
	height: 200px;
}
